@green: #00D3A3;
@darkGreen: #00B395;

@blue: #2CA1DB;
@darkBlue: #1489C4;

@red: #FF8063;
@darkRed: #FA6948;

@yellow: #F5D836;
@darkYellow: #F5C022;

@lightPurple: #B1A3CC;
@purple: #8372A3;
@medPurple: #725F99;
@darkPurple: #65508F;

@lightTest: #F7F7F7;
@lightGrey: #F2F2F2;
@grey: #E3E6E6;
@medGrey: #C4CBCC;
@darkGrey: #A3AAAD;
@black: #414C52;

// fonts
@small: 10px;
@med: 12px;
@big: 24px;

// margins
@margin-xs: 5px;
@margin-small: 15px;
@margin-med: 20px;
@margin-large: 30px;

@font-face {
  font-family: apexRoundedBook;
  src: url(../assets/fonts/ApexRounded-Book.otf);
}

body {
  font-family: apexRoundedBook;
}

.project-img {
  width: 480px;
  height: 320px;
  float: right;
}

.project-title {
  font-size: @big;
  color: @black;
}

.project-date {
  font-size: @small;
  color: @medGrey;
}

.project-maker {
  font-size: @med;
  margin-top: @margin-small;
}

.project-maker-img {
  margin-right: @margin-small;
}

.achievement {
  margin-top: @margin-small;
}

.achievement-name {
  font-size: @med;
  color: @darkGrey;
}

.achievement-img {
  margin-right: @margin-small;
  width: 40px;
  height: 40px;
}

.social-container {
  margin-top: @margin-large;
  background-color: @grey;
}

.comments-container {
  margin-top: @margin-med;
  margin-bottom: @margin-med;
}

.comment-icon {
  width: 30px;
  height: 28px;
  margin-right: @margin-small;
}

.comment {
  margin-top: @margin-small;
}

.comment-img {
  width: 40px;
  height: 40px;
  float: left;
}

.comment-body {
  min-height: 40px;
  font-size: @med;
}

.comment-meta {
  margin: @margin-xs 0px @margin-xs @margin-small;
}

.comment-content {
  margin-left: @margin-small;
  margin-right: @margin-small;
}

.comment-reply {
  width: 30px;
  height: 28px;
  float: right;
}
