<html>
<head>
<title>Project</title>
<link type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
<link type="text/css" href="../styles/speechbubble.css" rel="stylesheet">
<link type="text/css" href="../styles/style.less" rel="stylesheet/less">
</head>
<body>
  <nav class="navbar navbar-inverse">
  </nav>
  {{{body}}}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.4.0/less.min.js" type="text/javascript"></script>
</body>
</html>
